@media only screen and (max-width: 1010px) {
    .ulclass{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.5s ease-out;
        height: 500px;
    }
    
    .rightbar{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
    .mainbox{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .secright{
        flex-direction: column-reverse;
    }
    .textbig{
        text-align: center;
    }
    .textsmall{
        text-align: center;
    }
    .btn{
        text-align: center;
    }
    .btns{
        text-align: center;
    }
   

}